h2.title {
    margin: auto;
    width: 400px;
    
}
.topmenu {
    display: flex;
    flex-direction: row;
    background-color: #CCF1F1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 200px;
}

li.topmenuitem {
    list-style-type: none;
    margin-right: 50px;
    margin-left: 20px;
    font: 115%/1.5 FontFamily
}

#login, #registerdiv {
    background-color: #55AABB;
    margin-top: 50px;
    margin-left: 200px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#login {
    width: 300px;
}

#registerdiv {
    width: 400px;
}

#booktpart {
    background-color: azure;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-top: 20px;
}
/* 
#authorpart {
    background-color: aliceblue;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-top: 20px;
}

#categorypart {
    background-color: cornsilk;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-top: 20px;
} */

#categoryeditpart {
    background-color: cornsilk;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-top: 20px;
}


#newstatepart {
    background-color: azure;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-top: 20px;
}


td {
    padding: 3px;
    margin: 5px;
}


table#booktable td,table#authortable td,table#categorytable td, table#usertable td {
    background-color: #EEFAFA;
}

.addbutton {
    margin: 10px;
}

tr {
    margin-top: 3px;
}
.hidden {
    display: none;
}

.errortext {
    color:orangered;
    margin-bottom: 2px;
}

.topmenu {
    display: flex;
    flex-direction: row;
}

.topmenuitem {
    margin-right: 50px;
}

.part {
    margin-left: 50px;
}

.partheader {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.bookdetails {
    display: flex;
    margin-top: 10px;
}

.filter-panel {
    display: flex;
}

.flex-item {
    margin: 5px;
    padding: 2px;
    background-color: #BBFFE7;
}

.bookcategorypart {
    min-width: 500px;
}

.bookhistorypart {
    min-width: 500px;
}

#addbookcategory, .categorybookheader, #loginlabel {
    display: inline;
}

#regisaterref {
    margin-left: 150px;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
}
/* 
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  } */

#bookcategorytable {
    margin-top: 10px;
}

#bookstatetable {
    margin-top: 20px;
}


.field-validation-error {
    color: #b94a48;
}
  
.field-validation-valid {
    display: none;
}
  
input.input-validation-error {
    border: 1px solid #b94a48;
}
  
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
  
.validation-summary-errors {
    color: #b94a48;
}
  
.validation-summary-valid {
    display: none;
}

#authorbooktable, #categorybooktable, #userbooktable {
    margin-top: 15px;
}

#addbook {
    margin-right: 100px;
}